{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="font-awesome-animation.min.css">
  
 
  <title>Acg</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">
      {% load static %}
      <img src="{% static "acgapplication/acg.jpeg" %}" alt="My image"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarNav">
      <ul class="navbar-nav text-center">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home fa-1x" style="font-size:13px"></i>&nbsp;Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}"><i class="fa fa-user fa-1x" style="font-size:13px"></i>&nbsp;About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}"><i class="fa fa-envelope fa-1x" style="font-size:13px"></i>&nbsp;Contact</a>
        </li>
        <li></li>
      </ul>
    </div>
  </nav>
  {% block content %}

  <div class="container-fluid main-body">

    <!-- beginning of row div-->
    <div class="row">

      <div class="col-sm-1"></div>

      <div class="col-sm-2">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="col">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <ul class="nav flex-column">
              <li class="nav-item active">
                <a class="nav-link " href="{% url 'imbuto' %}">Imbuto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'imishwi' %}">Imishwi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ifumbire' %}">Ifumbire</a>
              </li>

            </ul>
          </li>
        </ul>
      </div>

      {% endblock %}

</body>

</html>