{% extends 'acgapplication/base.html' %}

{% block content %}
<div class="container">
   
    <div class="row">

      <div class="col-md-2">
      
      </div>
      <div class="col-md-8">
         
      
<form method="post" class="contact-form">
    <h2>Contact Us</h2>
    {% if submitted %}
    <div class="success">
       <h6 class="red-text text-center" style="background-color: coral; height: 30px; border-radius: 10px;"><p class="text-white"> message was submitted successfully. Thank you</p></h6> 
    </div>
    
    <br>
    {% endif %} 
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn-success" value="Send Message" />
</form>
      </div>
      <div class="col-md-2">
     
      </div>


    </div>
  </div>
  <footer>
      {% include "acgapplication/footer.html" %}
  </footer>

{% endblock %}