{% block content %}
<footer class="footer-word">
  <div class="container-fluid">
    <div class="container text-center footer-content">
      <div class="row ">

        <div class="col-md-4 header-color">
          <h5>Our Products</h5>
          <p></p>
          <p>
            Imbuto<br>
            Imishwi<br>
            Ifumbire</br>
          </p>

        </div>

        <div class="col-md-4 text-left">
          <h5>Following Us On Social Media</h5>
          <p></p>

          <div style="font-size: 1.5rem;" class="social-media">
            <a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
            <a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
            <!-- <i class="fa fa-linkedin"></i> -->
            <!-- <i class="fa fa-pinterest"></i> -->
          </div>
        </div>

        <div class="col-md-4 text-left">
          <h5>Contac us</h5>
          <p></p>
          <p>
            <b>Tel:</b>+250789181732<br>
            <b>Email:</b>mukizagsteven@gmail.com<br>
            <b>Location:</b>Kimisagara

          </p>

        </div>
      </div>
    </div>
  </div>
  </div>
</footer>

{% endblock %}